*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* Navbar{
  width: 100%;
} */
main{
  max-width: 100%;
  margin: 10px;
  padding: 10px;
}
.bodysection{
  width: 1500px;
  display: flex;
  flex-direction: row;
}
.title {
  padding: 20px 0;
  text-align: center;
}

.listpart{
  padding: 20px;
  margin-left: 105px;
  width: 600px;
  background-color: aqua;
}
.listpart>h1{
  text-align: center;
}

.form{
  width: 500px;
}

input, button{
  padding: 10px;
}

ul{
  list-style: none;
  margin-top: 20px;
}

li{
  background-color: rgb(211, 162, 162);
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.icon_holder{
  display: flex;
  gap: 10px;
}

.icon{
  cursor: pointer;
}

.titles{
  display: flex;
  flex-direction: row;
}
.navv{
  width: 100%;
}

.container{
  max-width: 100%;
}

